
@{
    ViewData["Title"] = "Danke für deinen Einkauf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danke f&uuml;r deine Einkauf</h2>
<div class="container-fluid">
	<section>
		<p>Danke f&uuml;r deinen Einkauf, in K&uuml;rze erh&auml;lst du eine E-Mail mit deiner Rechnung!</p>
	</section>
</div>

