@model MarelibuSoft.WebStore.Models.CategoryDetail

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>CategoryDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategorySubID" class="control-label"></label>
                <select asp-for="CategorySubID" class ="form-control" asp-items="ViewBag.CategorySubID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.SenderID != null)
{
	<div>
		<a class="btn btn-primary" asp-area="Admin" asp-action="Details" asp-controller="CategorySubs" asp-route-id="@ViewBag.SenderID">zur&uuml;ck zur Unterkategorie</a>
	</div>
}

<div>
	<a class="btn btn-primary" asp-action="Index">zur &Uuml;bersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
