@using Microsoft.AspNetCore.Identity
@using MarelibuSoft.WebStore.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	if (User.IsInRole("Administrator"))
	{
		@*<div class="navbar-collapse collapse navbar-fixed-top">*@
			<ul class="nav navbar-nav navbar-default">
				<li>
					<a asp-area="Admin" asp-controller="Home" asp-action="Index">
						<span class="glyphicon glyphicon-cog"></span>
						Admin
					</a>
				</li>
			</ul>
		@* </div>*@
	}
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Kundenkonto</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Abmelden</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Registrieren</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Anmelden</a></li>
    </ul>
}
