@model MarelibuSoft.WebStore.Models.CategorySub

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Bearbeiten</h2>

<h4>Unterkategorie</h4>
<hr />
<div class="row">
    <div class="col-md-8">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="ID" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Category" class="control-label"></label>
				<select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
				<span asp-validation-for="CategoryID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SeoDescription" class="control-label"></label>
				<textarea asp-for="SeoDescription" class="form-control" onkeyup="marelibusoft.common.countChar(this);"></textarea>
				<span asp-validation-for="SeoDescription" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SeoKeywords" class="control-label"></label>
				<textarea asp-for="SeoKeywords" class="form-control"></textarea>
				<span asp-validation-for="SeoKeywords" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="HtmlDescription" class="control-label"></label>
				<textarea asp-for="HtmlDescription" class="form-control summernote"></textarea>
				<span asp-validation-for="HtmlDescription" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-success" />
			</div>
		</form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">zur &Uuml;bersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
