@model MarelibuSoft.WebStore.Models.ShippingAddress

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lieferadresse bearbeiten</h2>

<h4>Lieferadresse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="CustomerID" type="hidden" />
			<input type="hidden" asp-for="ID" />
			<div class="form-group">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CompanyName" class="control-label"></label>
				<input asp-for="CompanyName" class="form-control" />
				<span asp-validation-for="CompanyName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Address" class="control-label"></label>
				<input asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdditionalAddress" class="control-label"></label>
				<input asp-for="AdditionalAddress" class="form-control" />
				<span asp-validation-for="AdditionalAddress" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="City" class="control-label"></label>
				<input asp-for="City" class="form-control" />
				<span asp-validation-for="City" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PostCode" class="control-label"></label>
				<input asp-for="PostCode" class="form-control" />
				<span asp-validation-for="PostCode" class="text-danger"></span>
			</div>
			@*<div class="form-group">
			<label asp-for="IsMainAddress"></label>
			<input type="checkbox" asp-for="IsMainAddress" />
		</div>*@
			<div class="form-group">
				<label asp-for="CountryID"></label>
				<select asp-for="CountryID" asp-items="ViewBag.CountryID" class="form-control" required></select>
				<span asp-validation-for="CountryID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Speichern" class="btn btn-default" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="CustomerIndex" asp-route-id="@Model.CustomerID">Zur&uuml;ck</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
