@{
	ViewData["Title"] = "&uuml;ber mich";
}
<h1>&Uuml;ber mich</h1>

<section>
	<strong>
		Du bist s&uuml;chtig und h&auml;ngst an der Nadel? Ich habe Stoff!
		<br />
		Individuelle Accessoires wie Bandentaschen f&uuml;r Eiskunstl&auml;ufer gibt´s in Deutschland nicht? Doch!
		<br />
		Pulsw&auml;rmer gibt´s nur geh&auml;kelt? Nein!
	</strong>
</section>
<br />
<br />
<section>
	<span>
		Ich k&ouml;nnte noch weitere Fragen stellen und gleich danach beantworten, aber es ist wie bei einer Rede: In der K&uuml;rze, liegt die W&uuml;rze.
		<br /><br />
		Nat&uuml;rlich sind meine Stoffe vollkommen legal und haben nichts mit Drogen in dem Sinne zu tun. Wer da Interesse h&auml;tte, kann bei mir allenfalls eine Beratung finden, denn eigentlich bin ich Diplom-Sozialarbeiterin.  In diesem Bereich bin ich aber aus verschiedenen Gr&uuml;nden schon lange nicht mehr t&auml;tig.
		<br /><br />
		Als meine Tochter ihre Leidenschaft f&uuml;r das Eiskunstlaufen entdeckte, standen wir als Eltern vor dem Problem, dass die verf&uuml;gbaren K&uuml;rkleider entweder f&uuml;r Vierj&auml;hrige zu erwachsen wirkten oder in der Form eher an einen Sack erinnerten. Da blieb mir nur eines: selbst n&auml;hen. <br />
		Inzwischen ist das schon Jahre her und nat&uuml;rlich blieb es nicht bei den K&uuml;rkleidern. Es fanden sich immer wieder Bereiche, in denen es Bedarf, aber keine Produkte gab und das nicht nur im Eislaufbereich, sondern auch im ganz normalen Alltag. Und wenn ich gerade keinen Bedarf f&uuml;r etwas Neues sehe, mache ich schlicht und einfach, worauf ich gerade Lust habe und so w&auml;chst mein Sortiment immer weiter.
		<br /><br />
		Einige meiner Ideen habe ich inzwischen in Form von Schnittmustern umgesetzt, damit auch andere sie nachn&auml;hen k&ouml;nnen. Hier werde ich von einem mega tollen Proben&auml;hteam unterst&uuml;tzt. Ich kann es gar nicht oft genug sagen, meine M&auml;dels sind einfach die Besten!
		<br />
	</span>
	<span>
		<br />Da ich Stoffe liebe, lag es nahe, neben den gen&auml;hten Produkten und Ebooks auch Meterwaren anzubieten und inzwischen ist dieser Bereich enorm gewachsen.  
	</span>
</section>
<section><span>Aber auch wenn ich bisher nur von mir gesprochen habe: Ich bin nicht allein. Dieser Shop ist kein fertiges Baukastensystem, sondern wurde mir von meinem Privatentwickler nach meinen W&uuml;nschen in monatelanger Arbeit zurechtgeschneidert. Nach der Pflicht kommt die K&uuml;r, daher programmiert mein Mann auch jetzt noch im Hintergrund weiter um k&uuml;nftig neue Features anbieten zu k&ouml;nnen. Nur zusammen konnten wir da landen, wo wir heute sind und wo wir morgen stehen werden.<br /><br /></span>
</section>

