@{
	ViewData["Title"] = "Impressum";
}
<h1>Impressum</h1>

<p>Petra Buron</p>
<p>Graf-von-Stauffenberg-Weg 5A</p>
<p>59379 Selm</p>
<p>Deutschland</p>

<p>Tel.: 017684448594</p>
<p>E-Mail: pburon@t-online.de</p>

<p>USt. wird nicht ausgewiesen, da der Verkäufer Kleinunternehmer im Sinne des UStG ist.</p>

<p>Plattform der EU-Kommission zur Online-Streitbeilegung: <a href="https://ec.europa.eu/consumers/odr">https://ec.europa.eu/consumers/odr</a></p>

<p>Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder verpflichtet noch bereit.</p>

<p>Mitglied der Initiative "Fairness im Handel".</p>
<p>Nähere Informationen: <a href="https://www.fairness-im-handel.de">https://www.fairness-im-handel.de</a></p>