
@{
    ViewData["Title"] = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Faq</h2>

<ul>
	<li>
		<a href="#cutting">D&uuml;rfen Schnittmuster von marelibuDesign gewerblich genutzt werden?</a>
	</li>
	<li>
		<a href="#shipping">Ist eine Lieferung nur innerhalb Deutschlands m&ouml;glich?</a>
	</li>
	<li>
		<a href="#cart">Kann es zu „Warenkorb-Klau“ kommen?</a>
	</li>
	<li>
		<a href="#custom">Kann ich Produkte nach eigenen Vorstellungen herstellen lassen?</a>
	</li>
	<li>
		<a href="#shipDays">Wann beginnt die Lieferfrist?</a>
	</li>
	<li>
		<a href="#payBuy">Wann muss meine Bestellung bezahlt werden?</a>
	</li>
	<li>
		<a href="#howToPay">Wie kann ich zahlen?</a>
	</li>
	<li>
		<a href="#meter">Wird Meterware am St&uuml;ck geliefert?</a>
	</li>
</ul>
<section>
	<article id="cutting">
		<h3>D&uuml;rfen Schnittmuster von marelibuDesign kleingewerblich genutzt werden?</h3> 
		Ja. Als Gegenzug erwarte ich allerdings im Angebotstext die Angabe zu mir als Schnittersteller.<br />
		Ich habe mich bewusst dagegen entschieden, Lizenzen zu vergeben oder extra Geb&uuml;hren f&uuml;r die kleingewerbliche Nutzung zu verlangen.<br /> 
		Es gibt einfach sehr viele schwarze Schafe, die sich nicht an die Regeln halten. Mit Lizenzen und Geb&uuml;hren w&uuml;rde ich letztlich nur die Ehrlichen bestrafen. Das vertr&auml;gt sich nicht mit meinem Gerechtigkeitssinn. Da eine Hand die andere w&auml;scht, verlasse ich mich aber darauf, dass du dich bei gewerblicher Nutzung an die kleine Vorgabe h&auml;ltst und angibst, woher der Schnitt kommt. In meinen Ebooks findest du in der Fußzeile genauere Angaben dazu.
	</article>
</section>
<br />
<section>
	<article id="shipping">
		<h3>Ist eine Lieferung nur innerhalb Deutschlands m&ouml;glich?</h3>
		Neben Deutschland liefere ich auch in die Schweiz.<br />
		Da der Versand ins Ausland an viele rechtliche Vorgaben gebunden ist, die von Land zu Land unterschiedlich sind, ist eine Lieferung in andere L&auml;nder in n&auml;herer Zukunft leider nicht vorgesehen.<br />
		Bei Bestellungen aus dem Ausland k&ouml;nnen Zollgeb&uuml;hren anfallen, die vom K&auml;ufer zu tragen sind. Schweizer Kunden k&ouml;nnen diese unter http://xtares.admin.ch berechnen lassen.
	</article>
</section>
<br />
<section>
	<article id="cart">
		<h3>Kann es zu „Warenkorb-Klau“ kommen?</h3>
		Wenn du einen Artikel in den Warenkorb legst, ist dieser erst einmal in der entsprechenden Menge f&uuml;r dich reserviert. Es kann also nicht passieren, dass du zum Beispiel einen Stoff in den Warenkorb legst und dieser dann w&auml;hrend der Suche nach einem weiteren wieder abgezogen wird, weil dir wer zuvorgekommen ist. Diese Reservierung ist zeitlich begrenzt auf 25 Minuten und auch auf die Sitzung. Schließt du die Seite oder loggst du dich aus, wird der Warenkorb gel&ouml;scht und die Produkte sind wieder f&uuml;r alle freigegeben.
	</article>
</section>
<br />
<section>
	<article id="custom">
		<h3>Kann ich Produkte nach eigenen Vorstellungen herstellen lassen?</h3>
		Das ist grunds&auml;tzlich m&ouml;glich. Falls du einen konkreten Wunsch hast, schreib mir einfach eine Email und wir k&ouml;nnen alles in Ruhe besprechen.
	</article>
</section>
<br />
<section>
	<article id="shipDays">
		<h3>Wann beginnt die Lieferfrist?</h3>
		Die Lieferfrist beginnt bei Vorkasse-Bestellungen mit der Zahlungsanweisung, also in dem Moment, wo das Geld von deinem Paypal- oder Bankkonto abgebucht wird. Bei Rechnungsk&auml;ufen beginnt die Lieferfrist mit Abschluss der Bestellung.
	</article>
</section>
<br />
<section>
	<article id="payBuy">
		<h3>Wann muss meine Bestellung bezahlt werden?</h3>
		Die Lieferfrist f&uuml;r die erste Bestellung beginnt mit der Zahlungsanweisung, wir versenden also nur auf Vorkasse. Du solltest den Rechnungsbetrag innerhalb von sieben Tagen bezahlen.<br />
		Ab der zweiten Bestellung kannst du bei mir auf Rechnung kaufen (sofern es im Vorfeld nicht zu Zahlungsschwierigkeiten gekommen ist). Der Betrag ist dann zahlbar innerhalb von 7 Tagen ab Erhalt der Ware.
	</article>
</section>
<br />
<section>
	<article id="howToPay">
		<h3>Wie kann ich zahlen?</h3>
		@*Die Zahlung aus Deutschland und &Ouml;sterreich ist aktuell m&ouml;glich per Paypal und &Uuml;berweisung.<br />*@
		Im Moment sind nur Zahlungen per PayPal und &Uuml;berweisung m&ouml;glich.<br />
		@*Aufgrund der hohen Bankgeb&uuml;hren k&ouml;nnen Bestellungen aus der Schweiz aktuell nur per PayPal bezahlt werden.<br />*@
		Wir arbeiten derzeit an weiteren Zahlungsm&ouml;glichkeiten.<br />
		Die erste Bestellung ist nur auf Vorkasse m&ouml;glich, weitere dann auch auf Rechnung. Wir behalten uns vor, die M&ouml;glichkeit des Rechnungskaufs einzuschr&auml;nken, wenn es Probleme in der Zahlungsabwicklung geben sollte.
	</article>
</section>
<br />
<section>
	<article id="meter">
		<h3>Wird Meterware am St&uuml;ck geliefert?</h3>
		Wenn du von einem Stoff mehrere Meter bestellst, bekommst du ihn nat&uuml;rlich am St&uuml;ck. Eine Ausnahme sind die Coupons und Restst&uuml;cke. <br />
		Hier steht aber jeweils deutlich dabei, dass es sich um einen bereits zugeschnittenen Coupon oder ein Restst&uuml;ck handelt und welche Maße der Stoff hat.
	</article>
</section>

