
@{
    ViewData["Title"] = "Im Netz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Im Netz</h2>

<section>
	<article>
		Ihr k&ouml;nnt mich auch im Netz finden:
		<ul>
			<li><a href="https://www.facebook.com/marelibuDesign/">Bleib immer auf dem Laufenden &uuml;ber Facebook</a></li>
			<li><a href="https://www.instagram.com/marelibuDesign">Folge mir auf Instagram</a></li>
			<li><a href="https://www.makerist.de/users/petra_b">Finde meine Schnittmuster auf Makerist</a></li>
		</ul>
	</article>
</section>

