
@{
    ViewData["Title"] = "Zahlung und Versand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zahlung und Versand</h2>

<section>
	<ul>
		<li><a href="#jumpPaymend">Zahlungsm&ouml;glichkeiten</a></li>
		<li><a href="#shippingCost">Versandkosten</a></li>
		<li><a href="#shippingPeriod">Lieferzeiten</a></li>
	</ul>
</section>

<section>
	<article>
		<h3>Zahlungsm&ouml;glichkeiten:</h3>
		<p id="jumpPaymend">
			@*Die Zahlung aus Deutschland und &Ouml;sterreich ist aktuell m&ouml;glich per Paypal und &Uuml;berweisung.<br />*@
			@*Aufgrund der hohen Bankgeb&uuml;hren k&ouml;nnen Bestellungen aus der Schweiz aktuell nur per PayPal bezahlt werden.<br />*@
			Im Moment sind nur Zahlungen per PayPal und &Uuml;berweisung m&ouml;glich.<br />
			Wir arbeiten derzeit an weiteren Zahlungsm&ouml;glichkeiten.<br />
			Die erste Bestellung ist nur auf Vorkasse m&ouml;glich, weitere dann auch auf Rechnung. Wir behalten uns vor, die M&ouml;glichkeit des Rechnungskaufs einzuschr&auml;nken, wenn es Probleme in der Zahlungsabwicklung geben sollte.
		</p>
	</article>
</section>
<br />
<section>
	<article>
		<h3>Versandkosten</h3>
		<p id="shippingCost">
			Die Versandkosten werden bei den einzelnen Produkten direkt angezeigt.<br />
			Versandkosten fallen nur ein Mal pro Lieferung an.  Wird aus beiden Produktgruppen bestellt, fallen nur die Lieferkosten f&uuml;r Produktgruppe 2 an.
		</p>
		<table class="table-bordered">
			<thead>
				<tr>
					<th colspan="2">Lieferung innerhalb Deutschlands:</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Produktgruppe 1:<br />
						Stirnb&auml;nder, Pulsw&auml;rmer,<br /> Kufenschoner, Anh&auml;nger etc.
					</td>
					<td>3,90 Euro</td>
				</tr>
				<tr>
					<td>
						Produktgruppe 2:<br />
						Meterware, Taschen
					</td>
					<td>
						4,90 Euro
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		@*<table class="table-bordered">
			<thead>
				<tr>
					<th colspan="2">
						Lieferung nach &Ouml;sterreich:
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Produktgruppe 1:<br />
						Stirnb&auml;nder, Pulsw&auml;rmer,<br /> Kufenschoner, Anh&auml;nger etc.
					</td>
					<td>7,00 Euro</td>
				</tr>
				<tr>
					<td>
						Produktgruppe 2:<br />
						Meterware, Taschen
					</td>
					<td>
						20,00 Euro
					</td>
				</tr>
			</tbody>
		</table>*@
		<br />
		@*<table class="table-bordered">
			<thead>
				<tr>
					<th colspan="2">
						Lieferung nach Schweiz:
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Produktgruppe 1:<br />
						Stirnb&auml;nder, Pulsw&auml;rmer,<br /> Kufenschoner, Anh&auml;nger etc.
					</td>
					<td>7,00 Euro</td>
				</tr>
				<tr>
					<td>
						Produktgruppe 2:<br />
						Meterware, Taschen
					</td>
					<td>
						30,00 Euro
					</td>
				</tr>
			</tbody>
		</table>*@
	</article>
</section>
<br />
<section>
	<article>
		<h3>Lieferzeiten:</h3>

		<p id="shippingPeriod">
			Die erste Bestellung ist nur auf Vorkasse m&ouml;glich. Stammkunden k&ouml;nnen zwischen Vorkasse und Rechnungskauf w&auml;hlen.
			Die Lieferfrist beginnt für K&auml;ufe auf Vorkasse mit der Zahlungsanweisung, für Rechnungsk&auml;ufe sofort.
			Die jeweiligen Lieferfristen sind produktabh&auml;ngig und bei den einzelnen Artikeln aufgeführt.
			<br />
			Vorgefertigte Ware und Meterware werden innerhalb von 3-6 Werktagen geliefert.
			Die Lieferzeit f&uuml;r Sonderanfertigungen aus dem Sortiment liegt bei 7-15 Werktagen.
			<br />
			Die Produkte aus einer Bestellung werden auch zu einer Lieferung zusammengef&uuml;gt. Es gilt dann die sp&auml;teste Lieferfrist f&uuml;r die bestellten Produkte.
			<br />
			Ist eine separate Lieferung von lagernder Ware und Sonderanfertigungen gew&uuml;nscht, m&uuml;ssen zwei unabh&auml;ngige Bestellungen aufgegeben werden. In dem Fall werden die Versandkosten ebenfalls pro Bestellung abgerechnet
		</p>
	</article>
</section>

