
@{
    ViewData["Title"] = "Zahlung und Versand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zahlung und Versand</h2>

<section>
	<ul>
		<li><a href="#jumpPaymend">Zahlungsm&ouml;glichkeiten</a></li>
		<li><a href="#shippingCost">Versandkosten</a></li>
		<li><a href="#shippingPeriod">Lieferzeiten</a></li>
	</ul>
</section>

<section>
	<article>
		<h3>Zahlungsm&ouml;glichkeiten:</h3>
        <p id="jumpPaymend">
            Die Zahlung ist m&ouml;glich per Paypal oder &Uuml;berweisung. Wir liefern nur auf Vorkasse.
        </p>
	</article>
</section>
<br />
<section>
	<article>
		<h3>Versandkosten</h3>
        <p id="shippingCost">
            Die Versandkosten liegen pauschal bei 4,50 Euro pro Bestellung innerhalb Deutschlands.<br /> Auslandsversand wird nicht angeboten. F&uuml;r schweizer Kunden empfehlen wir die Zusammenarbeit mit einem Dienstleister wie z.B. https://meineinkauf.ch/
        </p>
	</article>
</section>
<br />
<section>
    <article>
        <h3>Lieferzeiten:</h3>

        <p id="shippingPeriod">
            Die Bestellung ist nur auf Vorkasse m&ouml;glich. Die Lieferfrist beginnt mit der Zahlungsanweisung. 
            <br />Die jeweiligen Lieferfristen sind produktabh&auml;ngig und bei den einzelnen Artikeln f&uuml;r Lieferungen innerhalb Deutschlands aufgef&uuml;hrt.
            <br /><br />
            Vorgefertigte Ware und Meterware werden innerhalb von 3-6 Tagen geliefert. Die Lieferzeit f&uuml;r Sonderanfertigungen aus dem Sortiment liegt bei 7-15 Tagen.<br />
            Die Produkte aus einer Bestellung werden auch zu einer Lieferung zusammengef&uuml;gt. Es gilt dann die sp&auml;teste Lieferfrist f&uuml;r die bestellten Produkte.<br />
            Ist eine separate Lieferung von lagernder Ware und Sonderanfertigungen gew&uuml;nscht, m&uuml;ssen zwei unabh&auml;ngige Bestellungen aufgegeben werden. In dem Fall werden die Versandkosten ebenfalls pro Bestellung abgerechnet.<br />
        </p>
    </article>
</section>

