
@{
	ViewData["Title"] = "Bitte bestätigen deine Email Adresse";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bitte best&auml;tige deine Email Adresse</h2>
<p> Vielen Dank f&uuml;r deine Registrierung. Du erh&auml;ltst eine Email mit einem Best&auml;tigungslink.<br /> Klicke bitte diesen Link um deine Registrierung abzuschlie&szlig;en. Erst danach kannst du dich in deinen Account einloggen. Der Link ist 7 Tage g&uuml;ltig. Nach Ablauf dieser Zeit werden die eingegebenen Daten gel&ouml;scht, wenn die Registrierung nicht abgeschlossen wurde.</p>



