
@{
    ViewData["Title"] = "PleaseConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bitte best&auml;tige Deine Email Adresse</h2>
<p>Hallo bevor Du meinen Shop benutzen kannst musst Du Deine Email Adresse best&auml;tigen.</p>
<p>Zum best&auml;tigen bekommst Du eine Email mit einem Link zu meiner Seite. Bitte folge diesem Link um die Registrierung abzuschlie&szlig;en.</p>
<p>Erst nach der Best&auml;tigung kannst Du Dich einloggen.</p>

