@model MarelibuSoft.WebStore.Areas.Admin.Models.AdminViewModels.AdminProductViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Artikel anlegen</h2>

<form asp-action="Create">
	<div class="form-horizontal">
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="ProductNumber" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="ProductNumber" class="col-md-10 form-control" />
				<span asp-validation-for="ProductNumber" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Name" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Name" class="col-md-10 form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="ShortDescription" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="ShortDescription" class="col-md-10 form-control" />
				<span asp-validation-for="ShortDescription" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Description" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<textarea asp-for="Description" class="col-md-10 form-control summernote"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
		</div>
		<hr />
		<div class="form-group">
			<label asp-for="SeoDescription" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<textarea id="seodescription" asp-for="SeoDescription" data-max-chars="155" class="col-md-10 form-control counted" onkeyup="marelibusoft.common.countChar(this);"></textarea>
				<span asp-validation-for="SeoDescription" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="SeoKeywords" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<textarea asp-for="SeoKeywords" class="col-md-10 form-control"></textarea>
				<span asp-validation-for="SeoKeywords" class="text-danger"></span>
			</div>
		</div>
		<hr />
		<div class="form-group">
			<label asp-for="BasesUnit" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<select asp-for="BasesUnitID" class="col-md-10 form-control" asp-items="ViewBag.BaseUnit"></select>
				<span asp-validation-for="BasesUnitID" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Price" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input id="basisPrice" asp-for="Price" class="col-md-10 form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="SecondBaseUnit" class="col-md-10 col-md-2 control-label"></label>
			<div class="col-md-10">
				<select asp-for="SecondBaseUnitID" class="col-md-10 form-control" asp-items="ViewBag.SeconedUnit"></select>
				<span asp-validation-for="SecondBaseUnitID" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="SecondBasePrice" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input id="sbPrice" asp-for="SecondBasePrice" class="col-md-10 form-control" /><div class="container">
					<!-- Trigger the modal with a button -->
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Preisberechen</button>
					<!-- Modal -->
					<div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">@Html.DisplayNameFor(model => model.SecondBasePrice)</h4>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label class="col-md-3 control-label">Stoffbreite</label>
										<input id="productwith" class="col-md-5 form-control" />
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-success" onclick="marelibusoft.admin.calculateSecondBasePrice()">Berechnen</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
								</div>
							</div>
						</div>
					</div>

				</div>

				<span asp-validation-for="SecondBasePrice" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="AvailableQuantity" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="AvailableQuantity" class="col-md-10 form-control" />
				<span asp-validation-for="AvailableQuantity" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="MinimumPurchaseQuantity" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="MinimumPurchaseQuantity" class="col-md-10 form-control" />
				<span asp-validation-for="MinimumPurchaseQuantity" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Size" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<select asp-for="SizeID" class="col-md-10 form-control" asp-items="ViewBag.Size"></select>
				<span asp-validation-for="SizeID" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Period" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<select asp-for="PeriodID" class="col-md-10 form-control" asp-items="ViewBag.Periods"></select>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="ShippingPriceTypeID" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<select asp-for="ShippingPriceTypeID" class="col-md-10 form-control" asp-items="ViewBag.ShippingPriceTypeID"></select>
				<span asp-validation-for="ShippingPriceTypeID" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="CategoryName" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<select id="listCatagories" asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID" onchange="getSubCatagoriesByCatagoryId()" onblur="getSubCatagoriesByCatagoryId()"></select>
				<span asp-validation-for="CategoryID" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="CategorySubName" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<select id="listSubCatagories" asp-for="CategorySubID" class="form-control" asp-items="ViewBag.CategorySubID" onchange="getDetailCatagories()" onblur="getDetailCatagories()"></select>
				<span asp-validation-for="CategorySubID" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="CategoryDetailName" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<select id="listDetailCatagories" asp-for="CategoryDetailID" class="form-control" asp-items="ViewBag.CategoryDetailID"></select>
				<span asp-validation-for="CategoryDetailID" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="IsActive" class="control-label"></label>
			<input asp-for="IsActive" class="form-control" type="checkbox" />
			<span asp-validation-for="IsActive" class="text-danger"></span>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Anlegen" class="btn btn-success" />
			</div>
		</div>
	</div>
</form>

<div>
    <a class="btn btn-primary" asp-action="Index">zur &Uuml;bersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
