@{
    ViewData["Title"] = "Email bestätigt";
}

<h2>@ViewData["Title"]</h2>
<div>
	<p>
		Vielen Dank f&uuml;r deine Registrierung! Logge dich &uuml;ber den Anmelde-Button in dein Kundenkonto ein, um K&auml;ufe abzuschlie&szlig;en, den Bestellvorgang im Blick zu halten, deine Daten zu &auml;ndern usw. Viel Spa&szlig; beim St&ouml;bern in unserem Shop!
	</p>
</div>
