@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Passwort vergessen?";
}
<h2>@ViewData["Title"]</h2>
@if (!string.IsNullOrWhiteSpace(Model.ErrorString))
{
    <h3 class="h3 bg-danger text-danger"><i class="fa fa-warning"></i> @Model.ErrorString</h3>
}
<h4>Gib deine E-Mail Adresse ein</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <img id="img-captcha" src="~/get-captcha-image" title="clicken zum neu laden" />
                </div>
                <input type="text" class="form-control" placeholder="Bitte Code eingeben" asp-for="CaptchaCode" maxlength="4" title="Bitte den angezeigten Code eingeben!" />
                <span asp-validation-for="CaptchaCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Absenden</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
