@model MarelibuSoft.WebStore.Models.ShoppingCart
<p hidden id="cartid">@Html.DisplayFor(model => model.ID)</p>
<p hidden id="sessionid">@Html.DisplayFor(model => model.SessionId)</p>
<a asp-area="" asp-controller="ShoppingCarts" asp-action="Details" asp-route-id="@Model.ID" >
	<span class="glyphicon glyphicon-shopping-cart"></span>
	Warenkorb: @Html.DisplayFor(model => model.Lines.Count)
</a>

