@model MarelibuSoft.WebStore.Models.ProductImage

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Neues Artikelbild</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>ProductImage</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsMainImage" />
                    <label asp-for="IsMainImage"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProductID" class ="form-control" asp-items="ViewBag.ProductID"></select>
            </div>
        </div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<p>Ein Bild hochladen:</p>
				<input type="file" name="files" accept="image/*" />
			</div>
		</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Anlegen" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

@if (ViewBag.SenderID != null)
{
	<div>
		<a class="btn btn-primary" asp-area="Admin" asp-action="Details" asp-controller="Products" asp-route-id="@ViewBag.SenderID">zur&uuml;ck zum Artikel</a>
	</div>
}

@*<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
	<div class="form-group">
		<div class="col-md-10">
			<p>Upload one or more files using this form:</p>
			<input type="file" name="files" multiple />
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			<input type="submit" value="Upload" />
		</div>
	</div>
</form>*@

<div>
    <a class="btn btn-primary" asp-action="Index">zur &Uuml;bersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
