@model MarelibuSoft.WebStore.Models.CmsStartPage

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Bearbeiten</h2>

<h4>Startseite</h4>
<hr />
<div class="row">
	<div class="col-md-9">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="ID" />
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SeoKeywords" class="control-label"></label>
				<input asp-for="SeoKeywords" class="form-control" />
				<span asp-validation-for="SeoKeywords" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SeoDescription" class="control-label"></label>
				<textarea asp-for="SeoDescription" class="form-control" rows="5"></textarea>
				<span asp-validation-for="SeoDescription" class="text-danger"></span>
			</div>
			<hr />
			<div class="form-group">
				<label class="control-label">Code Snippteds</label>
				<ul>
					<li>Bildergröße: <pre>style="max-width:100%; height:auto;" class="img-responsive" </pre></li>
					<li>Video automatisch: <pre>autoplay muted loop</pre></li>
				</ul>
			</div>
			<hr />
			<div class="form-group">
				<label asp-for="HeadContent" class="control-label"></label>
				<textarea asp-for="HeadContent" class="form-control summernote" rows="15"></textarea>
				<span asp-validation-for="HeadContent" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LeftContent" class="control-label"></label>
				<textarea asp-for="LeftContent" class="form-control summernote" rows="15"></textarea>
				<span asp-validation-for="LeftContent" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="RightContent" class="control-label"></label>
				<textarea asp-for="RightContent" class="form-control summernote" rows="15"></textarea>
				<span asp-validation-for="RightContent" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
	<div class="col-md-3">
		@await Component.InvokeAsync("CmsFilesLoaded")
	</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

