@model MarelibuSoft.WebStore.Areas.Admin.Models.AdminViewModels.FileUploadViewModel

<form enctype="multipart/form-data">
	<div class="form-group">
		<div class="col-md-10">
			<p>Bild hochladen:</p>
			<input id="files" type="file" name="files"  multiple accept="image/*"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			<input type="button" value="Upload" onclick="marelibusoft.admin.uploadfile();" />
		</div>
	</div>
</form>

